<section style="text-align:center">
<%= button_to "Create a New User", register_path, method: :get, local: true %>
</section>

<% if session[:user_id] %>
  

<ul>
  <h2>Existing Users</h2>
    <% @users.each do |user| %>
      <li><%= link_to user.email, user_path(user), method: :get, local: true %></li>
    <% end %>
</ul>
<% else %>
  <p> Please log in to see existing users. </p>
<% end %>